<%= render '/header.html.erb' %>
<h2 class="main_tagline">Be the movie mogul you always knew you could be</h3>
<div><span class="exec_producer"><%=current_user.name %>, executive producer</span><span class="log_out"><%= link_to "log out", log_out_path, method: :delete %></span>
<a href="/movies/new"><button class="create_movie">Create a movie</button></a></div>
<% @movies.each do |movie| %>
  <div class="sixteen columns movie clearfix">
    <div class="ten columns">
     <div class="title"><%= movie.title %></div>
     <div class="tagline"><%= movie.tagline %></div>
     

    
   
    <div class="actors clearfix">     
      <% movie.actors.each do |actor| %>
      <div id="actor" class="two column"><%= actor.name %><br />
        <img src="<%= actor.get_image %>" class="actor_image"> 
      </div><!--actor-->
      <% end %>     
    </div><!-- actors -->
    
  </div><!--seven column-->
    <!-- <div class="rightcol four column omega" id='rightcol' > -->
    <div id="rightcol" class="five column omega" >
      <div class="gross">$<%= number_with_delimiter(movie.get_total_gross) %></div>
  
      <div class="movie_rank_box">
        <div id="adjacent_ranking"><%= movie.ranking[:one_higher_rank] %> <%= movie.ranking[:one_higher_title] %></div>
        <div class="movie_rank"><%= movie.ranking[:rank] %></div>
        <div id="adjacent_ranking"><%= movie.ranking[:one_lower_rank] %> <%= movie.ranking[:one_lower_title] %></div>
        <div id="edit"><a href="/movies/<%= movie.id %>/edit"><button>Make Unreasonable Demands >></button></a></div>
      </div><!--movie_rank_box-->
    </div><!--rightcol-->
  </div><!--movie-->
<% end %> 
