<h1>Tinsl</h1>
<h3>Be the movie mogul you always knew you could be</h3>
<h2> Hello, <%=@current_user.name %>.</h2>
<% @movies.each do |movie| %>
  <div class="movie">
    
    <div class="title"><%= movie.title %></div>
    <div class="tagline"><%= movie.tagline %></div>
   
    <div class="actors">
      <ul>
        <% movie.actors.each do |actor| %>
        <li><%= actor.name %></li>
        <% end %>
      </ul>
    <a href="/movies/<%= movie.id %>/edit">Edit >></a>
  </div><!--movie-->
<% end %> 
<a href="/movies/new">Create a movie >></a>